.intro {
  margin-top: 60px;
  @include d(s) {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.intro-info {
  border-right: 2px solid $textColor-primary;
  max-width: 320px;
  p {
    padding-top: 10px;
  }
  p:first-child {
    border-bottom: 2px solid $textColor-primary;
    padding-bottom: 10px;
  }
}

.intro-phone {
  color: $textColor-secondary;
  @include d(s) {
    margin-bottom: 40px;
  }

  &::after {
    content: '/ / / /';
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: $textColor-primary;
    @include d(m) {
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include d(s) {
      display: none;
    }
  }
}

.open {
  display: inline-block;
  width: 12px;
  height: 12px;
  color: $signColor;
  border-radius: 50%;
  margin-left: 30px;
}

.main-photo {
  border: 10px solid $borderColor;
  width: 100%;
}